{% extends 'header_file.html' %}
{% load static %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        {% block extra_links %}
        <title> {{ event.name }} Details</title>
        <link href = "{% static 'event_details.css' %}" rel = "stylesheet" type= "text/css">
        {% endblock %}
    </head>
    <body>
        {% block heading %}
        EVENT DETAILS
        {% endblock %}
        {% block rest_container%}
        <div id = "rest_container">
            <div id = "intro">
                <img src = "{{ event.picture.url }}">
                <div id = "main_details">
                    <p id = "name">{{ event.name }}</p>
                    <p>{{event.payment_script | safe}}</p>
                    <p id = "summary">
                        {{ event.summary | safe }}
                    </p>
                    <!-- <p id = "register"></p> -->
                </div>
            </div>
            <div id = "rules" style="margin-top: 200px;">
                <h2> About the Event</h2>
                <p> {{ event.rules|linebreaks}}</p>
            </div>
            <h3 id = "cost">Cost - Rs. {{event.cost}}{% if event.cost2 > 0 %}, {{ event.cost2 }}{% endif %}{% if event.cost3 > 0 %}, {{ event.cost3 }}{% endif %}</h3>
            <p>{{event.payment_script | safe}}</p>
            </div>
        {% endblock %}
    </body>
</html>
