{% extends 'header_file.html' %}
{% load static %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        {% block extra_links %}
        <title> Events </title>
        <link href = "{% static 'event_details.css' %}" rel = "stylesheet" type= "text/css">
        {% endblock %}
    </head>
    <body>
        {% block heading %}
        Create Event
        {% endblock %}
        {% block rest_container%}
        <div id = "rest_container">
            <ul>
                <div class="main"> 
                    <!-- Create a Form -->
                    <form enctype='multipart/form-data' method="POST"> 
                    
                        <!-- Security token -->
                        {% csrf_token %} 
                    
                        <!-- Using the formset -->
                        {{ form.as_p }} 
                        
                        <input type="submit" value="Submit"> 
                    </form> 
                </div> 
            </ul>
        </div>
        {% endblock %}
    </body>
</html>
